@charset "UTF-8";

body {
    text-align: center;
    background-color: rgb(241, 193, 104);
}

header {
    font-size: 30px;
}

#login {
    background-color: white;
    width: 50vw;
    height: 50vh;
    padding: 20px;
    margin-left: 23vw;
    font-size: 20px;
    padding-top: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.281);

}

a {
    text-decoration: none;
    color: black;
}

